
<div class="parallax-container">
  <div class="parallax"><img src="img/computer.jpg"/></div>
</div>
<section class="center-align info-org">
  <div class="container">
    <h2 class="center-align">Somos más que simples programadores ...</h2>
    <p>Hacemos todo lo que normalmente espera que haga su contable: registrar cuentas, completar su contabilidad y nómina, y asegurarnos de que sea lo más eficiente en impuestos posible. Sin embargo, creemos que las empresas merecen mucho más que eso. Así es como ayudamos a empresas como la suya a prosperar.</p>
    <h2 class="center-align">Ver la magia en el trabajo</h2>
    <p>Creemos que un equipo feliz es igual a clientes felices. Entonces, hemos creado un lugar donde las personas con talento pueden hacer un gran trabajo, hacer una gran diferencia y ser lo mejor que pueden ser (y divertirse también).</p>
  </div>
</section>
<div class="parallax-container">
  <div class="parallax"><img src="img/parallex.jpg"/>
    <h3>Somos más que simples programadores ...</h3>
  </div>
</div>